.home-section {
    height: 800px;
    background-color: rgb(255, 247, 235);
}

.nav-link {
    text-shadow: 1px 1px 4px #585858;
    font-weight: 600;
}

.login-btn {
    background-color: #ff5722;
    color: white !important;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: 600;
}